<div class="container">
	<%= form_tag session_path, :class => 'form-signin' do %>
		<h2 class="form-signin-heading">Login</h2>
		<%= text_field_tag :email,nil, :placeholder => 'Email address', :class => 'input-block-level' %>
		<%= password_field_tag :password, nil, :placeholder => 'Password', :class => 'input-block-level' %>
		<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
		</label>
		<%= submit_tag 'Sign in', :class => 'btn btn-large btn-primary' %>
	<% end %>
</div>